<template name="signin">
  <div class="page auth">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-auth">
        <h1 class="title-auth">登入</h1>
        <p class="subtitle-auth" >登入後可看到更多功能</p>
          <button id="facebook-login"  class="btn-primary">由Facebook登入</button>
          <button id="google-login"  class="btn-primary">由Google登入</button>
      </div>
    </div>
  </div>
</template>